<div class="answers-list">

  {{#if acceptedAnswer itemController='answers/list-item'}}
    {{render 'answers.list-item' acceptedAnswer}}
  {{/if}}

  {{#each unselectedAnswers itemController='answers/list-item'}}
    {{render 'answers.list-item' this}}
  {{/each}}
</div>
